<div class="container">
   
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Registrarse</h2>
        </div>
        <label for="email">Email</label>
        <br/>
        <input type="text" id="email" [(ngModel)]="usuario.email">
        <br/>
        <label for="password">Password</label>
        <br/>
        <input type="password" id="password" [(ngModel)]="usuario.password">
        <br/>
        <button type="submit" (click)="register()">Registrarse</button>
        <p> <span> ¿Ya tienes cuenta? <a routerLink="/auth/login">Inicia sesión</a></span></p>
       
    </div>
</div>