
/* Header */
.headerPrincipal
{
  padding: 0;
    margin: 0 auto;
    background: #4caf50;
    width: 100%;
    height: 70px;
    justify-content: center;
    display: flex;
}

.TituloApp
{
	color: white;
	display: block;
	margin: auto;
	text-align: center;
  width: 350px;

     
}

.spanSesion
{
      color: white;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;

}

.login{
  display:none;
  margin-bottom: 2%;
  margin-top: 42px;
  position: absolute;
  right: 0;
  width: 260px;
}

.triangle{
  border-right: 12px solid transparent;
  border-bottom: 12px solid #338fe0;
  border-left: 12px solid transparent;
  margin-left: 200px;
  width: 0;
}

.login form{
 background: #272727;
    border-top: 6px solid #338fe0;
    color: #fff;
    padding: 16px 12px;
    position: relative;
    z-index: 100;
}

input[type="email"],input[type="password"]{
  background: #fff;
  border: none;
  box-sizing: border-box;
  color: #555;
  margin-bottom: 12px;
  padding: 8px;
  width: 100%;
}

input[type="submit"]{
  background: #338fe0;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 0;
  text-transform: uppercase;
  width: 100%;
}

input[type="submit"]:hover{
  background: #2288bb;
}

