/* Mobile menu */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: #4caf50;
  padding: 0 15px;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}





.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item.profileItem {
  order: 2;
  border-bottom: 1px #444 solid;
}

.profileItem img {
  border-radius: 100%;
}

.profileItem .userName{
  color: white;
  margin-left: 6px;
  margin-right: 6px;
}

.profileItem button{
  padding: 9px 5px;
  background-color: red;
  color: white;
  border: none;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

 .menu .item:not(.button):hover{
  background: #449d48;
  
 }

 .menu .item .subitem:hover{
  background: #3c8c40;
 
 }

 .menu .item .subitem:hover > a{
  color: white;
 }

 .selected {
  
  background-color:  #7c7f7c;
 }

 .selected:hover {
  background: #3c8c40;
 }

 
 



.active .item {
  display: block;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #4caf50;
  border-radius: 3px;
}

.button.secondary a:hover {
  background-color: #449d48;
  border: 1px #3c8c40 solid;
  transition: 1s;
}

.button:not(.secondary) a:hover{
  background-color: #449d48;
  transition: 0.3s;
}

/* Tablet  */
@media all and (min-width: 480px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    order: 2;
  }

  

  

  

  

  .button a:hover {
    text-decoration: none;
  }
}

/* Desktop */
@media all and (min-width: 1024px) {
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .button {
    order: 2;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background-color: #4caf50;
  }

  .toggle {
    display: none;
  }

  .submenu-active {
    border-radius: 0;
  }

  .listaDecisiones {
    padding-right: 2.5%;
  }

  .item.profileItem {
    
    border-bottom: 0;
  }

  .button.secondary {
    border-bottom: 0;
  }
}
