<div class="fullContainer">
    
   
    <div class="contenedorContenido">
        <div class="row">
            <div class="column columnaSorteos">
                
                <div class="divIntroSorteo" *ngIf="!editInfoSorteo">
                    <span class="titleSorteoSimple" (dblclick)="showEditInfoSorteo()" > {{title}} </span>
                    <button class="btnEditarTitle" (click)="showEditInfoSorteo()"><i class="fa fa-pencil"></i></button>
                    <br>
                    <span class="descripcionSorteoSimple"> Crea un sorteo índicando únicamente los participantes y el número de premios. </span>
                 </div>

                 <div class="editInfoSorteo" *ngIf="editInfoSorteo">
                     <input type="text" class="titleSorteoSimple"  autocomplete="off"
                     #inputTitleSorteo [(ngModel)]="title" (keyup.enter)="saveTitleSorteo()"> 
                     <button (click)=" saveTitleSorteo()" class="btnSaveTitleSorteo"><i class="fa fa-floppy-o"></i></button>
                     <br>
                     <span class="descripcionSorteoSimple"> Establece un título/descripción a tu sorteo (Si lo guardas, te podrá ser más fácil identificarlo) </span> 
                     
                 </div>

                 <div class="divSorteoSimple"> 
                <fieldset class="fieldParticipantes" (click)="setFocusOnNewParticipante()">
                    <legend class="leyendaParticipantes"> Participantes </legend>
       <div class="content">
   <p class="infoPulsaIntro">Introduce un  participante y pulsa intro.</p>
   <div class="divInput">
    <input #inputNewParticipante type="text" autocomplete="off" spellcheck="false"  
placeholder="Añade participante" 
id="inputParticipantes" [(ngModel)]="newParticipante"  (keyup.enter)="addParticipante()">

<button class="btnAddParticipante" (click)="addParticipante()"><i class="fa fa-plus" aria-hidden="true"></i></button>

</div>   
   <ul>

    <li *ngFor="let participante of participantes; let i = index" class="elementoParticipante"> 
        <span class="textParticipante ">{{participante}}</span>
        <i class="fa fa-times borrarParticipante" (click)="eliminarParticipante(i)"></i>
        
    </li>

   
    <input #inputNewParticipante type="text" autocomplete="false" spellcheck="false"  
    placeholder="Añade participante" autocomplete="off"
    id="inputParticipantes" [(ngModel)]="newParticipante"  (keyup.enter)="addParticipante()">
</ul>

 </div>
       
      <div class="details">
   <p><span></span> {{participantes.length}} participantes disponibles</p>
  <div class="botonesAccionLista" >

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="participantes.length > 0">
            <i class="fas fa-copy"></i> Copiar al portapapeles
        </button>
        <button mat-menu-item [matMenuTriggerFor]="menuImportar">
            <i class="fas fa-upload"></i> Importar participantes

            <mat-menu #menuImportar="matMenu">
                <button mat-menu-item (click)="getSorteosLocales()">
                    <i class="fas fa-home"></i> Ver participantes locales
                </button>
                <button mat-menu-item (click)=" showAllSorteos()">
                    <i class="fa fa-arrows-v"></i> Ver todos los participantes
                </button>
                <button mat-menu-item (click)="getSorteosExternos()">
                    <i class="fas fa-database"></i> Ver participantes externos
                </button>
            </mat-menu>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="menuExportar" *ngIf="participantes.length > 0">
            <i class="fas fa-download"></i> Exportar participantes

            <mat-menu #menuExportar="matMenu">
                <button mat-menu-item (click)="saveSorteoLocalmente()">
                    <i class="fas fa-home"></i> Guardar localmente
                </button>
                <button mat-menu-item>
                    <i class="fa fa-arrows-v"></i> Almacenamiento mixto
                </button>
                <button mat-menu-item (click)="saveSorteoExternamente()">
                    <i class="fas fa-database" ></i> Almacenamiento externo
                </button>
            </mat-menu>
        </button>

        <button mat-menu-item *ngIf="participantes.length > 1" (click)="mezclarParticipantes()">
            <i class="fas fa-random"></i> Mezclar participantes
        </button>

        <button mat-menu-item *ngIf="participantes.length > 0" (click)="removeAllParticipantes()">
            <i class="fas fa-trash-alt"></i> Borrar participantes
        </button>
        


      </mat-menu>
                
             </div>

             
 </div>
 
       </fieldset>
            
             <br>
        </div>
        
        <div class="tableListaSorteos" *ngIf="mostrarTablaSorteosLocales && sorteosLocales.length > 0">
            <table>
               <tr class="tituloTabla">
                   <th colspan="2">Sorteos almacenados localmente</th>
                   <th><button class="btnDeleteAll" (click)=" showDeleteAllLocalesModal()"><i class="fa fa-trash"></i> Borrar todos</button></th>
                   <th class="closeTabla" (click)="mostrarTablaSorteosLocales = false">X</th>
               </tr>
                <tr>
                    <th>Titulo</th>
                    <th>Participantes</th>
                    <th>Acciones</th>
                   
                </tr>

                <tr *ngFor="let sorteo of sorteosLocales; let i = index">
                    <td>{{sorteo.titulo}}</td>
                    <td>{{sorteo.participantes}}</td>
                    <td>
                        <button class="btnAddParticipantes" (click)="addParticipantes(sorteo.participantes)"><i class="fa fa-plus-circle"></i> Añadir</button>
                        <button class="btnReemplazarParticipantes" (click)="showReplaceModal(sorteo.participantes)"><i class="fa fa-refresh"></i> Reemplazar</button>
                        <button class="btnEliminarParticipantes" (click)="showDeleteSorteoLocalModal(i)"><i class="fa fa-trash-o"></i> Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="tableListaSorteos" *ngIf="mostrarTablaSorteosExternos && sorteosExternos.length > 0">
            <table>
               <tr class="tituloTabla">
                   <th colspan="2">Sorteos almacenados externamente</th>
                   <th><button class="btnDeleteAll"><i class="fa fa-trash"></i> Borrar todos</button></th>
                   <th class="closeTabla" (click)="mostrarTablaSorteosExternos = false">X</th>
               </tr>
                <tr>
                    <th>Titulo</th>
                    <th>Participantes</th>
                    <th>Acciones</th>
                   
                </tr>

                <tr *ngFor="let sorteo of sorteosExternos; let i = index">
                    <td>{{sorteo.titulo}}</td>
                    <td>{{sorteo.participantes}}</td>
                    <td>
                        <button class="btnAddParticipantes" (click)="addParticipantes(sorteo.participantes)"><i class="fa fa-plus-circle"></i> Añadir</button>
                        <button class="btnReemplazarParticipantes" (click)="showReplaceModal(sorteo.participantes)"><i class="fa fa-refresh"></i> Reemplazar</button>
                        <button class="btnEliminarParticipantes"><i class="fa fa-trash-o"></i> Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="controlesSorteoSimple">
            <span class="descripcionSorteoSimple"> <br> En caso de no indicar el nº de premios, todos los participantes obtendrán un premio. </span> <br>  <br> 
                
                                    <fieldset class="field_numPremios " (click)="setFocusOnNumPremios()"> 
                                        <legend class="leyenda_numPremios">Nº de premios</legend>
                                 
                                        <input type="number" class="form-control" min="1" [(ngModel)]="numPremios" id="input_numPremios" name="input_numPremios" #inputNumPremios>
                               
                                </fieldset>

                                <br>

                                <mat-checkbox class="tp-margin" [(ngModel)]="activarCuentaAtras">Activar cuenta atrás <small>(5s)</small></mat-checkbox>

                               

                                

                                <p>
                                    <button type="submit" name="sorteo" class="btnSortear" (click)="sortear()">
                                            Sortear 
                                            <div></div>
                                            <i class="fas fa-random"></i>
                                    </button>

                                    

         </div>
        
     </div>

      <div class="column columnaOtrosSorteos">
                
         <div class="box">
                 <span class="descripcionSorteo"> Si deseas guardar, programar o declarar los premios del sorteo, realiza un <a href='#'> sorteo avanzado. </a> </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Si deseas obtener un único ganador prueba a utilizar <a href='#'> la ruleta. </a>  </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Si deseas sortear equipos o grupos, utiliza el <a href='#'> generador de grupos. </a>  </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Prueba a  <a href='#'> asociar elementos </a> de dos listas. </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Prueba a  <a href='#'> obtener ganador del sorteo de una publicación </a>  </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Participa en   <a href='#'> sorteos exclusivos  </a> de DecideJbot </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Prueba a   <a routerLink="/sorteos/NumerosAleatorios"> generar números aleatorios </a></span>
         </div>


          
           
    </div>

    
        </div>
        
        <div class="row" *ngIf="showDivResultados">
            <div class="contenedorResultados">
                <hr> 
                <div class="contenedorTextoCarga" *ngIf="mostrarCarga">
                    <span id="textoCarga"> Generando resultados... </span>
                </div>
                
                <span class="titleResultados" *ngIf="hayResultados">Resultados del sorteo</span>
                <div class="containerGanadores" id="containerGanadores" *ngIf="hayResultados">
                    <div class="titleGanadores">Ganadores:</div>
                    <div class="divListaGanadores">
                        <ol class="listaGanadores">
                            <li *ngFor="let ganador of resultado.ganadores">{{ganador}}</li>
                        </ol>
                    </div>

                    <div class="infoResultados">
                        <div class="fecha"><span>{{resultado.fecha | date:'dd/MM/yyyy HH:mm:ss'}}</span></div>
                       <div class="resultados_titleApp">
                          <span>DecideJbot</span>
                       </div>
                    </div>
                </div>

                <p>
                    <div class="containerContador" *ngIf="mostrarCarga">
                        <span id="textoContador">{{tiempoCarga}}</span>
                    </div>
                
                    <button type="submit" name="sorteo" class="btnRepetir" *ngIf="hayResultados" (click)="sortear()">Repetir sorteo <div></div><i class="fas fa-random"></i></button>
                    <button type="submit"  class="btnGuardarImagen"  *ngIf="hayResultados" (click)="saveResultadosImg()">Guardar como imágen <div></div><i class="fa fa-file-image-o"></i></button>

                </div>
        </div>

        
            </div>
            
    </div>

