<div class="fullContainer">
    
   
    <div class="contenedorContenido">
        <div class="row">
            <div class="column columnaSorteos">
                <div class="divIntroSorteo">
                    <span class="titleSorteoSimple" > Sorteo Simple </span>
                    <br>
                    <span class="descripcionSorteoSimple"> Crea un sorteo índicando únicamente los participantes y el número de premios. </span>
                 </div>

                 <div class="divSorteoSimple"> 
                <fieldset class="fieldParticipantes" (click)="setFocusOnNewParticipante()">
                    <legend class="leyendaParticipantes"> Participantes </legend>
       <div class="content">
   <p>Introduce un  participante y pulsa intro.</p>
        
   <ul>

    <li *ngFor="let participante of participantes; let i = index" class="elementoParticipante"> 
        <span class="textParticipante ">{{participante}}</span>
        <i class="fa fa-times borrarParticipante" (click)="eliminarParticipante(i)"></i>
        
    </li>

    <input #inputNewParticipante type="text" autocomplete="false" spellcheck="false"  
    placeholder="Añade participante" 
    id="inputParticipantes" [(ngModel)]="newParticipante"  (keyup.enter)="addParticipante()">
</ul>
 </div>
       
      <div class="details">
   <p><span></span> {{participantes.length}} participantes disponibles</p>
  <div class="botonesAccionLista" *ngIf="stateMainButtons" >
                <div class="tooltipCopy" *ngIf="participantes.length > 0">  
                    <button type=""  class="btnCopy" title="Copiar participantes"><span class="tooltipCopytext" id="myTooltipCopy">Copiar al portapapeles</span><i class="fas fa-copy"></i></button>
                </div>
                 <div class="tooltipImport"> 
                     <button type="" (click)="getSorteosLocales()"  class="btnImport" title="Importar participantes"><span class="tooltipImporttext" id="myTooltipImport">Importar participantes</span><i class="fas fa-upload"></i></button>
                  </div>
                 <div class="tooltipExport" *ngIf="participantes.length > 0">
                     <button type=""   class="btnExport" title="Guardar participantes" (click)="showSaveButtons()"><span class="tooltipExporttext" id="myTooltipExport">Guardar participantes</span><i class="fas fa-download"></i></button>
                 </div>
                 <div class="tooltipMezclar" *ngIf="participantes.length > 0">
                    <button type=""   class="btnMezclar" title="Mezclar participantes" (click)="mezclarParticipantes()"><span class="tooltipMezclartext" id="myTooltipMezclar">Mezclar participantes</span><i class="fas fa-random"></i></button>
                </div>
                 <div class="tooltipDelete" *ngIf="participantes.length > 0">
                     <button type=""  (click)="removeAllParticipantes()" class="btnDelete" title="Eliminar participantes"><span class="tooltipDeletetext" id="myTooltipDelete">Eliminar participantes</span><i class="fas fa-trash-alt"></i> </button>
                 </div>

                
             </div>

             <div class="saveButtons" *ngIf="stateSaveButtons">
                
                <div class="tooltipInfoSave">  
                    <button type="" (click)="showSaveInfoModal()"  class="btnInfoSave" title="Info"><span class="tooltiptext" id="myTooltipInfoSave">Info</span><i class="fa fa-info-circle"></i></button>
                </div>

                <div class="tooltipDownload">  
                    <button type=""  class="btnDownload" title="Descargar..."><span class="tooltiptext" id="myTooltipDownload">Descargar...</span><i class="fa fa-floppy-o"></i></button>
                </div>

                <div class="tooltipSaveLocal">  
                    <button type=""  class="btnSaveLocal" (click)="saveSorteoLocalmente()" title="Guardar localmente"><span class="tooltiptext" id="myTooltipSaveLocal">Guardar localmente</span><i class="fas fa-home"></i></button>
                </div>

                <div class="tooltipSaveMixto">  
                    <button type=""  class="btnSaveMixto" title="Almacenamiento mixto"><span class="tooltiptext" id="myTooltipSaveMixto">Almacenamiento mixto</span><i class="fa fa-arrows-h"></i></button>
                </div>

                <div class="tooltipSaveEx">  
                    <button type=""  class="btnSaveEx" title="Guardar externamente"><span class="tooltiptext" id="myTooltipSaveEx">Guardar externamente</span><i class="fas fa-database"></i></button>
                </div>

                <div class="tooltipCancel">  
                    <button type=""  class="btnCancel" (click)="showMainButtons()" title="Cancelar"><span class="tooltiptext" id="myTooltipCancel">Cancelar</span><i class="fas fa-times"></i></button>
                </div>


             </div>
 </div>
 
       </fieldset>
            
             <br>
        </div>
        
        <div class="tableListaSorteos" *ngIf="mostrarTablaSorteosLocales">
            <table>
               <tr class="tituloTabla">
                   <th colspan="3">Sorteos almacenados localmente</th>
                   <th class="closeTabla" (click)="mostrarTablaSorteosLocales = false">X</th>
               </tr>
                <tr>
                    <th>Titulo</th>
                    <th>Participantes</th>
                    <th>Acciones</th>
                   
                </tr>

                <tr *ngFor="let sorteo of sorteosLocales">
                    <td>Sorteo simple</td>
                    <td>{{sorteo.participantes}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="controlesSorteoSimple">
            <span class="descripcionSorteoSimple"> <br> En caso de no indicar el nº de premios, todos los participantes obtendrán un premio. </span> <br>  <br> 
                
                                    <fieldset class="field_numPremios " (click)="setFocusOnNumPremios()"> 
                                        <legend class="leyenda_numPremios">Nº de premios</legend>
                                 
                                        <input type="number" class="form-control" min="1" [(ngModel)]="numPremios" id="input_numPremios" name="input_numPremios" #inputNumPremios>
                               
                                </fieldset>
                                <br>
                                    <button type="submit" name="sorteo" class="btnSortear" (click)="sortear()">
                                            Sortear 
                                            <div></div>
                                            <i class="fas fa-random"></i>
                                    </button>

         </div>
        
     </div>

      <div class="column columnaOtrosSorteos">
                
         <div class="box">
                 <span class="descripcionSorteo"> Si deseas guardar, programar o declarar los premios del sorteo, realiza un <a href='#'> sorteo avanzado. </a> </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Si deseas obtener un único ganador prueba a utilizar <a href='#'> la ruleta. </a>  </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Si deseas sortear equipos o grupos, utiliza el <a href='#'> generador de grupos. </a>  </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Prueba a  <a href='#'> asociar elementos </a> de dos listas. </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Prueba a  <a href='#'> obtener ganador del sorteo de una publicación </a>  </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Participa en   <a href='#'> sorteos exclusivos  </a> de DecideJbot </span>
         </div>
         <hr style=" height: 2px; background-color: #4caf50; margin-left: auto; margin-right: auto;"> 
         <div class="box">
             <span class="descripcionSorteo"> Prueba a   <a routerLink="/sorteos/NumerosAleatorios"> generar números aleatorios </a></span>
         </div>


          
           
    </div>

    
        </div>
        
        <div class="row" *ngIf="showDivResultados">
            <div class="contenedorResultados">
                <hr> 
                <div class="contenedorTextoCarga" *ngIf="mostrarCarga">
                    <span id="textoCarga"> Generando resultados... </span>
                </div>
                
                <span class="titleResultados" *ngIf="hayResultados">Resultados del sorteo</span>
                <div class="containerGanadores" *ngIf="hayResultados">
                    <div class="titleGanadores">Ganadores:</div>
                    <div class="divListaGanadores">
                        <ol class="listaGanadores">
                            <li *ngFor="let ganador of ganadores">{{ganador}}</li>
                        </ol>
                    </div>

                    <div class="infoResultados">
                        <div class="fecha"><span>{{fechaSorteo | date:'dd/MM/yyyy HH:mm:ss'}}</span></div>
                       <div class="resultados_titleApp">
                          <span>DecideJbot</span>
                       </div>
                    </div>
                </div>

                <p>
                    <div class="containerContador" *ngIf="mostrarCarga">
                        <span id="textoContador">{{tiempoCarga}}</span>
                    </div>
                
                    <button type="submit" name="sorteo" class="btnRepetir" *ngIf="hayResultados" (click)="sortear()">Repetir sorteo <div></div><i class="fas fa-random"></i></button>
            </div>
        </div>

        
            </div>
            
    </div>

