<div class="fullContainer">
    <div class="contenedorContenido">
        <div class="sectionSorteos">
            <h1 class="tituloSeccion">Elige un sorteo <img id="icon_InfoTitleSorteos" src="../../../assets/img/information.png"></h1>

            <div class="menuSorteos">
                <div class="card">
                    <img src="../../../assets/img/raffle.png">
                    <div class="titleCard">
                        <h4>Sorteo simple</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/raffle1.png">
                    <div class="titleCard">
                        <h4>Sorteo avanzado</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/roulette.png">
                    <div class="titleCard">
                        <h4>Ruleta</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/numbers.png">
                    <div class="titleCard">
                        <h4>Números aleatorios</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/group.png">
                    <div class="titleCard">
                        <h4>Generar grupos</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/relaciones.png">
                    <div class="titleCard">
                        <h4>Asociar elementos</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/coins.png">
                    <div class="titleCard">
                        <h4>Cara o cruz</h4>
                    </div>
                </div>

                
                <div class="card">
                    <img src="../../../assets/img/arrow.png">
                    <div class="titleCard">
                        <h4>Girar una flecha</h4>
                    </div>
                </div>

                
                <div class="card">
                    <img src="../../../assets/img/dado.png">
                    <div class="titleCard">
                        <h4>Lanzar un dado</h4>
                    </div>
                </div>

                
                <div class="card">
                    <img src="../../../assets/img/gift.png">
                    <div class="titleCard">
                        <h4>Amigo invisible</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/post.png">
                    <div class="titleCard">
                        <h4>Sorteo en publicaciones</h4>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../assets/img/torneo.png">
                    <div class="titleCard">
                        <h4>Torneos</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>