<div class="fullContainer">
    <div class="contenedorContenido">
        <h1 class="tituloSeccion">Elige un sorteo <img id="icon_InfoTitleSorteos" src="../../../assets/img/information.png"></h1>
        <div class="contenidoSorteos">
            
                
                    <a routerLink="sorteos/SorteoSimple" class="elementSorteo_link" > 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/raffle.png"></div>
                        <p class="elementSorteo_title">Sorteo simple </p>
                    </div>
                </a>
                

                
                    <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/raffle1.png"></div>
                        <p class="elementSorteo_title">Sorteo avanzado <img id="icon_InfoSorteoAvanzado" src="../../../assets/img/information.png"> </p>
                         
                    </div>
                </a>

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/group.png"></div>
                        <p class="elementSorteo_title">Generar grupos</p>
                    </div>
                </a>

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/roulette.png"></div>
                        <p class="elementSorteo_title">Sorteo con ruleta</p>
                    </div>
                </a>

                <!-- Prueba -->
                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/relaciones.png"></div>
                        <p class="elementSorteo_title">Asocia elementos</p>
                    </div>
                </a>

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/post.png"></div>
                        <p class="elementSorteo_title">Sorteo en publicación</p>
                    </div>
                </a>

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/gift.png"></div>
                        <p class="elementSorteo_title">Amigo invisible</p>
                    </div>
                </a>

                

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/numbers.png"></div>
                        <p class="elementSorteo_title">Generar números aleatorios</p>
                    </div>
                </a>

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/coins.png"></div>
                        <p class="elementSorteo_title">Cara o cruz</p>
                    </div>
                </a>
                

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo elementFlecha">
                        <div class="iconSorteo iconFlecha"><img src="../../../assets/img/arrow.png"></div>
                        <p class="elementSorteo_title">Girar una flecha</p>
                    </div>
                </a>

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/dado.png"></div>
                        <p class="elementSorteo_title">Lanzar un dado</p>
                    </div>
                </a>

                

                <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/torneo.png"></div>
                        <p class="elementSorteo_title">Torneos</p>
                    </div>
                </a>


                
                
                
                
                <div class="elementSorteosExclusivos">

                    <a class="elementSorteo_link" href="#"> 
                        <div class="elementSorteo">
                            <div class="iconSorteo"><img src="../../../assets/img/exclusive.png"></div>
                            <p class="elementSorteo_title">Sorteos de la aplicación</p>
                        </div>
                    </a>
                </div>
                
                <div class="elementHistorialSorteos">
                    <a class="elementSorteo_link" href="#"> 
                    <div class="elementSorteo">
                        <div class="iconSorteo"><img src="../../../assets/img/historial.png"></div>
                        <p class="elementSorteo_title">Historial de sorteos</p>
                    </div>
                </a>
                </div>

                
        </div>

        <hr style=" height: 1px; background-color: #4caf50; margin-left: auto; margin-right: auto; width: 75%"> 

        <h1 class="tituloSeccion">Toma una decisión <img src="../../../assets/img/information.png"></h1>

        <div class="contenidoDecisiones">

            <a class="elementDecision_link" href="#"> 
                    <div class="elementDecision">
                        <div class="iconDecision"><img src="../../../assets/img/tv.png"></div>
                        <p class="elementDecision_title">¿Qué serie veo?</p>
                    </div>
                </a>

                <a class="elementDecision_link" href="#"> 
                    <div class="elementDecision">
                        <div class="iconDecision"><img src="../../../assets/img/videogames.png"></div>
                        <p class="elementDecision_title">¿A qué juego hoy?</p>
                    </div>
                </a>

                <a class="elementDecision_link" href="#"> 
                    <div class="elementDecision">
                        <div class="iconDecision"><img src="../../../assets/img/film.png"></div>
                        <p class="elementDecision_title">¿Qué película veo?</p>
                    </div>
                </a>

                

                <a class="elementDecision_link" href="#"> 
                    <div class="elementDecision">
                        <div class="iconDecision"><img src="../../../assets/img/music.png"></div>
                        <p class="elementDecision_title">¿Qué escucho hoy?</p>
                    </div>
                </a>
        </div>

        <hr style=" height: 1px; background-color: #4caf50; margin-left: auto; margin-right: auto; width: 75%"> 
        
        <div class="footerInfo">
            <h1 class="footerInfo_title">DecideJbot</h1>
        <span>Desarrollado por Julián Bienzobas Arnas</span>
        </div>
        


    </div>
</div>