body
{
  padding: 0;
  margin: 0 auto;
}

.fullContainer
{
	 display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    flex: 1 1;
    background-color: #fbfdeb;
    /* height: 100%; */
}



.contenedorContenido
{
	    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    padding-top: 2.25rem;
}

.tituloSeccion
{
	    margin: 1.125rem .375rem;
    margin-bottom: 2.125rem;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.125rem;
    line-height: 2.5rem;
    color: #4caf50;
    text-align: center;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.contenidoSorteos, .contenidoDecisiones
{
	  
    column-count: 2;
    margin-left:  auto;
    margin-right: auto;
   column-gap: 40px;
   
}



.elementSorteo_link, .elementDecision_link
{
	color: inherit;
    text-decoration: none;
}

.elementSorteosExclusivos, .elementHistorialSorteos
{
      column-span: all;
    /* margin-left: auto; */
    display: flex;
    text-align: center;
    justify-content: center;
  
}

.elementSorteo, .elementDecision
{
	    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: auto;
    min-height: 1.125rem;
    padding: .375rem .5rem;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

.iconSorteo, .iconDecision
{
	display:inline-block;
	max-width:100%;
	overflow:hidden;
	
	box-sizing:border-box;
	margin:0;
    display: block;
    max-width: 100%;
}

.iconSorteo img, .iconDecision img
{
	 max-width: 100%;
    display: block;
    margin: 0;
    border: none;
    padding: 0;
}

.elementSorteo_title, .elementDecision_title
{
	padding-left: 0.75rem;
    font-size: 1.125rem;
    margin: 0;
    line-height: 1.5;

}

*
{
  box-sizing: border-box;
}

.column 
{
  float: left;
  padding: 10px;
}

.row:after 
{
   content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

.footerInfo
{
	margin: auto;
	text-align: center;
}

.footerInfo_title
{
	 font-size: 36px;
    font-family: "Montserrat",Arial,sans-serif;
    font-weight: 700;
    color: #000;
}

